<mat-card class="card mat-elevation-z8">
  <mat-card-header>
    <mat-card-title>Sustentáculo</mat-card-title>
    <mat-card-subtitle>Support</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    src="assets/img/home-image.svg"
    alt="Imagem home Sustentáculo"
  />

</mat-card>

<mat-card class="card mat-elevation-z8">
  <mat-card-header>
    <mat-card-title>Não resolvido</mat-card-title>
    <mat-card-subtitle>25</mat-card-subtitle>
  </mat-card-header>
  <!-- <mat-card-content>
    <p>35</p>
  </mat-card-content> -->
</mat-card>

<mat-card class="card mat-elevation-z8">
  <mat-card-header>
    <mat-card-title>Vencido</mat-card-title>
    <mat-card-subtitle>10</mat-card-subtitle>
  </mat-card-header>
  <!-- <mat-card-content>
    <p>35</p>
  </mat-card-content> -->
</mat-card>

<mat-card class="card mat-elevation-z8">
  <mat-card-header>
    <mat-card-title>Vence hoje</mat-card-title>
    <mat-card-subtitle>2</mat-card-subtitle>
  </mat-card-header>
  <!-- <mat-card-content>
    <p>35</p>
  </mat-card-content> -->
</mat-card>

<mat-card class="card mat-elevation-z8">
  <mat-card-header>
    <mat-card-title>Aberto</mat-card-title>
    <mat-card-subtitle>1</mat-card-subtitle>
  </mat-card-header>
  <!-- <mat-card-content>
    <p>35</p>
  </mat-card-content> -->
</mat-card>

<mat-card class="card mat-elevation-z8">
  <mat-card-header>
    <mat-card-title>Em espera</mat-card-title>
    <mat-card-subtitle>7</mat-card-subtitle>
  </mat-card-header>
  <!-- <mat-card-content>
    <p>35</p>
  </mat-card-content> -->
</mat-card>
