<mat-card class="card mat-elevation-z8">
   <mat-card-header>
     <mat-card-title>Sustentáculo</mat-card-title>
     <mat-card-subtitle>Support</mat-card-subtitle>
   </mat-card-header>
   <img mat-card-image src="assets/img/home-image.svg" alt="Imagem home Sustentáculo">
   <mat-card-content>
     <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet aut sed odit architecto pariatur, qui soluta, ex necessitatibus quisquam enim corporis voluptatem delectus fuga totam similique, sunt dolorum. Fugit, quia. <br />O sistema está rodando na nuvem sendo o front na Vercel e o back na Heroku.<br />
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit, vitae delectus eaque laboriosam aut omnis dolor voluptas culpa, vel nulla ad in aspernatur possimus, corporis nisi eius. Impedit, labore commodi!
     </p>
   </mat-card-content>
 </mat-card>