<mat-card class="card mat-elevation-z8">
  <mat-card-header>
    <mat-card-title>Sustentáculo</mat-card-title>
    <mat-card-subtitle>Support</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    src="../../../assets/img/react.svg"
    alt="Imagem uma mulher fazendo suporte"
  />
  <mat-card-content>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae, cupiditate? Ipsa ipsam, qui cumque obcaecati voluptas itaque delectus perspiciatis pariatur adipisci harum, ab sit porro iure optio! Ad, quam dolorem.
    </p>
  </mat-card-content>
</mat-card>
