.container {
   width: 90%;
   margin: auto;
}

table {
   width: 100%;
}

mat-form-field {
   width: 100%;
}

button {
   width: 15%;
   background-color: #6C09AD;
}

span {
  color: white;
}


h1 {
   width: 100%;
   text-align: center;
   margin-bottom: 2rem;
}

.edit {
   color: #6C09AD;
}

.delete {
   color: red;
}